*{
    margin:0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #1F2937;
}

.logo{
    align-self: center;
    font-size: 24px;
    color:#F9FAF8
}


ul{
    display: flex;
    gap:12px;
    justify-content: space-between;
    list-style: none;
    align-content: center;
}

a{
    text-decoration: none;
    font-size:18px;
    color:#E5E7EB
}

.intro{
    display:flex;
    justify-content: space-around;
    padding: 80px;
    gap:12px;
    background-color: #1F2937;
}

.intro-left{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 90px;
}

.button-container{
    display:flex;
    flex-direction: row;
    text-wrap: nowrap;
}

.intro-button{
    border-radius: 10px;
    width: 100px;
    color: #E5E7EB;
    font-weight: 800
}

button{
    background-color: #3882F6;
}

.intro-content{
    text-wrap: wrap;
    font-size:18px;
    color:#E5E7EB
}

.intro-header{
    font-size: 48px;
    font-weight:900;
    color:#F9FAF8
}

.intro-right{
    display: flex;
    justify-content: center;
    width: 500px;
    align-self:center;
    height: 150px;
    background-color: gray;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
}

.info-header {
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    padding: 20px
}

.illustrations-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px
}

.illustrations{
    display: flex;
    flex-direction: column;
    width: 150px
}

.image-container{
    display: flex;
    height: 150px;
    width: 150px;
    border: 3px solid;
    border-color: teal ;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.caption{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.quote-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding-left: 10px;
}

.text-container{
    font-size: 36px;
    font: light;
    font-style: italic;
    color: #1F2937;
}

.quotee{
    align-self: flex-end;
    font-size: 25px;
    font: light;
    padding-right:40px
}

.banner-section{
    display:flex;
    flex-direction: column;
    height: 300px
}


